USE [master]
GO
/****** Object:  Database [TP04]    Script Date: 8/7/2026 08:36:08 ******/
CREATE DATABASE [TP04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP04_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP04]
GO
/****** Object:  User [alumno]    Script Date: 8/7/2026 08:36:08 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 8/7/2026 08:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[IdFigurita] [int] IDENTITY(1,1) NOT NULL,
	[IdJugador] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[IdFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 8/7/2026 08:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](50) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 8/7/2026 08:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[IdSeleccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FotoSeleccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[IdSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([IdJugador], [NombreCompleto], [IdSeleccion], [Foto]) VALUES (1, N'Messi', 1, N'messi.png')
INSERT [dbo].[Jugadores] ([IdJugador], [NombreCompleto], [IdSeleccion], [Foto]) VALUES (2, N'Lautaro', 1, N'lautaro.png')
INSERT [dbo].[Jugadores] ([IdJugador], [NombreCompleto], [IdSeleccion], [Foto]) VALUES (3, N'Mbappe', 2, N'mbappe.png')
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([IdSeleccion], [Nombre], [FotoSeleccion]) VALUES (1, N'Argentina', N'arg.png')
INSERT [dbo].[Selecciones] ([IdSeleccion], [Nombre], [FotoSeleccion]) VALUES (2, N'Francia', N'fra.png')
INSERT [dbo].[Selecciones] ([IdSeleccion], [Nombre], [FotoSeleccion]) VALUES (3, N'Alemania', N'ale.png')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Jugadores] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[Jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Jugadores]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Selecciones] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([IdSeleccion])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Selecciones]
GO
USE [master]
GO
