<ul>
@foreach (var f in ViewBag.Sobre){
    <li>
        <img src = "~/@f.Foto" alt = "@f.Foto">
    </li>
}
</ul>

<form action='@Url.Action("PegarFigus", "Home")' method="post" style="display:inline;">
<button type="submit">Confirmar sobre</button>
@foreach (var f in ViewBag.Sobre){
    <input type="hidden" name="ids" value="@f.IdJugador">
}
</form>